@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-light text-gray-900 antialiased;
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    @apply scroll-smooth;
  }
}
